#div_leftcol {
  float:left;
  padding-left: 80px;
}

#div_rightcol {
  float:right;
  padding-right: 80px;
}

#img_left {
  float:left;
  padding-right: 15px;
  padding-left: 30px;
}

#p_desc {
  text-align: left;
  width: 825px;
}
